<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="NuGet.org" value="https://api.nuget.org/v3/index.json" />
    <add key="DevExpress Packages" value="C:\Program Files\DevExpress 25.2\Components\System\Components\Packages" />
  </packageSources>
</configuration>